
/*=include ../node_modules/normalize.css/normalize.css */
/*$mdc-theme-primary: #212121;
$mdc-theme-accent: #81d4fa;
$mdc-theme-background: #303030;*/

$mdc-theme-primary: #fff;
$mdc-theme-secondary: #03a9f4;
// $mdc-theme-accent: #03a9f4;
// $mdc-theme-secondary: #9E9D24;
$mdc-theme-background: #303030;
//$mdc-theme-surface: #000;

$hintergrund: #303030;
$toolbar-background: #212121;
$toolbar: #fff;

$mdc-theme-on-surface: #fff; //design fix
//$mdc-theme-on-primary: $mdc-theme-background;

// $mdc-drawer-surface-fill-color: $toolbar-background !important; //design fix
$mdc-tab-bar-indicator-ink-color: $mdc-theme-secondary;
//SWITCH
//TODO im eingeschalteten zustand accent color verwenden

//@import "node_modules/material-components-web/material-components-web";
@import "node_modules/@material/button/mdc-button";
//@import "node_modules/@material/card/mdc-card";
@import "node_modules/@material/checkbox/mdc-checkbox";
//@import "node_modules@material/chips/mdc-chips";
@import "node_modules/@material/dialog/mdc-dialog";
@import "node_modules/@material/drawer/mdc-drawer";
//@import "node_modules/@material/elevation/mdc-elevation";
@import "node_modules/@material/fab/mdc-fab";
//@import "node_modules/@material/floating-label/mdc-floating-label";
@import "node_modules/@material/form-field/mdc-form-field";
//@import "node_modules/@material/grid-list/mdc-grid-list";
//@import "node_modules@material/icon-button/mdc-icon-button";
@import "node_modules/@material/icon-toggle/mdc-icon-toggle";
//@import "node_modules@material/image-list/mdc-image-list";
//@import "node_modules/@material/layout-grid/mdc-layout-grid";
//@import "node_modules@material/line-ripple/mdc-line-ripple";
//@import "node_modules/@material/linear-progress/mdc-linear-progress";
@import "node_modules/@material/list/mdc-list";
//@import "node_modules/@material/menu/mdc-menu";
//@import "node_modules/@material/notched-outline/mdc-notched-outline";
@import "node_modules/@material/radio/mdc-radio";
//@import "node_modules/@material/ripple/mdc-ripple";
//@import "node_modules/@material/select/mdc-select";
//@import "node_modules@material/shape/mdc-shape";
//@import "node_modules/@material/slider/mdc-slider";
@import "node_modules/@material/snackbar/mdc-snackbar";
@import "node_modules/@material/switch/mdc-switch";

@import "node_modules/@material/tab-bar/mdc-tab-bar";
@import "node_modules/@material/tab-scroller/mdc-tab-scroller";
@import "node_modules/@material/tab-indicator/mdc-tab-indicator";
@import "node_modules/@material/tab/mdc-tab";

//@import "node_modules/@material/animation/mdc-animation";
@import "node_modules/@material/textfield/mdc-text-field";
@import "node_modules/@material/theme/mdc-theme";
@import "node_modules/@material/top-app-bar/mdc-top-app-bar";
//@import "node_modules@material/top-app-bar/mdc-top-app-bar";
@import "node_modules/@material/typography/mdc-typography";


html{
	height:100vh;
    min-height:100vh;    
    color: $mdc-theme-primary; //design fix
}
body{
	background: $hintergrund;
	margin:0;
	height:100vh;
    min-height:100vh;
    overflow:hidden;
}

//TOOLBAR
.mdc-top-app-bar {
	background: $toolbar-background;
	color: $toolbar;
}
.mdc-top-app-bar .material-icons{
	color: $toolbar;
}

//DRAWER
@media only screen and (max-width: 800px) {
	#permanentDrawer {
		display: none !important;
    }
    
    // .mdc-drawer--modal{
    //     z-index: 4;
    // }
}
@media only screen and (min-width: 801px) {
	.mdc-drawer--temporary{
		display: none !important;
	}
    .menu{
		display:none;
    }
}
nav .mdc-list-item{
    cursor: pointer;
}
nav .mdc-list, nav .mdc-list-item__start-detail{
    color:$mdc-theme-primary !important;
}
nav .mdc-permanent-drawer--selected, nav .mdc-permanent-drawer--selected .mdc-list-item__start-detail{
    color:$mdc-theme-secondary !important;
}
#permanentDrawer{
    background-color: $toolbar-background;
    border-right: 1px solid rgba(255,255,255,.12);
    height: auto;
}
.mdc-drawer--modal{
    background-color: $mdc-theme-background;
    border-right-style: none !important; //design fix
}
//LAYOUT
//Toolbar und page übereinander (nur notwendig, weil bei height:100% auf den content
//Scrollbalken entstehen weil zu den 100% noch mdc-toolbar-fixed-adjust hinzukommt):
body{
    display:flex;
    flex-direction: column;
    overflow: hidden;
}
.mdc-toolbar{
	flex: 0 0 auto;
}
//page enthält den permanenten Drawer und den content bereich nebeneinander 
#page{
	flex: 1 1 auto;
	display:flex;
	flex-direction: row;
    width: 100%;
    overflow:hidden;
}
#permanentDrawer{
	flex: 0 0 auto;
	margin: 0;
}
//content enthält die verschiedenen seiten (radio, filme, etc)
#content{
	flex: 1 0 auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    display:flex;
    overflow: hidden;
}
//TABS
// .mdc-tab-bar{
// 	//Damit die tabs nicht nur kleine buttons in der mitte sind
// 	width:100%;
// 	table-layout: fixed;
// }
.mdc-tab{
	width:50%;
}
// .mdc-tab-bar__indicator{
//     background-color: $mdc-theme-secondary;
// }
// .mdc-drawer {
//     display: none; //nicht commiten!!!
// }
#music-tabs{
    display:none;
}

//BOTTOMPANEL
.bottompanel {
	background-color: $toolbar-background;
	flex: 0 0 auto;
    z-index: 3;
    overflow: hidden!important;
}
$bottomPanelMaxWidth: 800px;
.page-content {
    height: 800px;
}
.playercontrol {
	display: none;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: $bottomPanelMaxWidth;
    margin: auto;
}
.playerbutton {
    //Mindestmaße, damit gleich wie icon toggle und quadratisch
    // margin: 14px 0px 14px 0px;
    // padding: 0px 0px;
    margin: 0px;
    padding: 0px 0px;
    min-width: 0px;
    min-height: 0px;
    //margin:16px;
    //height:48px;
    width:48px;
}
.playerbutton.mdc-icon-toggle {
    //Mindestmaße, damit gleich wie playerbutton und quadratisch  
    // margin: 8px 8px 8px 8px;
    // padding: 0px 16px;
    //height:36px;
    //width:24px;
    color: $mdc-theme-primary;
}
#basicPlayerControl{
    padding-bottom: 8px;
}
#playlistpage {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#playlist {
    flex: 1;
}
#playlistSongs {
    margin-top: 8px;
}
#playlistcontrol {
    flex: 0 0 auto;
    display: none;
    flex-direction: column;
    max-width:$bottomPanelMaxWidth;
    margin: auto;
}
#playlistcontrol1 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    // margin-left: 8px;
    // margin-right: 8px;
}
#playlistcontrol2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    // margin-left: 8px;
    // margin-right: 8px;
}
.playlistcontrolitem {
    margin: 0px 16px 0px 0px;
    flex: 0 0 auto;
}
#addtoPlaylistButton{
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
#songinput {
    margin-left: 16px;
    margin-right: 0px;
    flex: 1;
}
#programselector {
    margin-left: 16px;
    margin-right: 16px;
    flex: 1;
}
.music-info{
	display:flex;
	flex-direction: column;
	align-items:center;
}
//ICON-BUTTONS
button i{
	// height:100%;
	vertical-align: middle;
}
//BUTTONS
.mdc-button--raised{
    //background-color: #f00!important;
    @include mdc-button-filled-accessible($toolbar-background);
}
//SECONDARY BUTTONS
.mdc-button--secondary{
    //background-color: #f00!important;
    @include mdc-button-filled-accessible($mdc-theme-secondary);
}

//CHECKBOX
// .mdc-theme--dark .mdc-checkbox__native-control:checked:not(:disabled) ~ .mdc-checkbox__background,
// .mdc-theme--dark .mdc-checkbox__native-control:indeterminate:not(:disabled) ~ .mdc-checkbox__background {
//   background-color: $mdc-theme-secondary;
//   border-color: $mdc-theme-secondary;
// }
// .mdc-theme--dark .mdc-checkbox__background::before {
//   background-color: $mdc-theme-secondary !important;
// }
// .mdc-theme--dark .mdc-checkbox__checkmark__path {
//   stroke: #262626 !important;
//   stroke-width: 3.12px;
// }
// .mdc-theme--dark .mdc-checkbox__mixedmark {
//   background-color: $mdc-theme-secondary !important;
// }


//DIALOG
//FIX entfernt blaues rechteck um Button (Fokus)
*:focus {
    outline: 0;
}
//FIX ist unter bottompanel (z-index: 3) per default
// .mdc-dialog{
//     z-index: 10;
//}
// .mdc-dialog__body{
//     color: $mdc-theme-primary;
// }
.mdc-dialog__surface{
    background-color: $mdc-theme-background !important;
    color: $mdc-theme-primary
}
//TEXTFIELD
.mdc-text-field{
    background-color: rgba(0,0,0,0) !important;
    height: 31px;
    margin-bottom: 8px;
}
.mdc-text-field__input{
    //margin: 0px 0px 0px 16px !important;
    padding-top: 0px;
}
.contentpage{
    display: none;
    flex: 1 0 auto;
}
//MUSIK

#musik{
    display: flex;
    flex: 1 0 auto;
}
#sender{
    flex: 1 1 0;
    overflow: auto;
}
#playlist{
    flex: 1 1 0;
}
//FERNSEHER
#fernseher{
    flex-direction: row;
    margin:14px 7px 14px 5px;
    overflow:auto;
    max-width: 555px;
    max-height:700px;
}
.fernseherreihe{
    margin-left: 7px;
    margin-right: 7px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.fernseherreihe *{
    // margin-right: 14px;
    // margin-bottom: 14px;
    // margin:0px;
    //min-width: 0px;
    min-height: 28px;
    flex: 1 1 0;
}
.fernseherfab{
    min-height: 60px;
}
.fernseherzentriert{
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items:center;
}
.fernseherfixedsize{
    flex: 0 0 auto;
}
//GERÄTE
.geraetelabel{
    margin: 0px 0px 0px 16px;
}
#Geraete{
    flex-direction: column;
}
//SERIEN
#serien{
    overflow: auto;
}
.serienSubPage{
    //display: none;T
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
//tabindikator (größe: 0) wird über mediaqueries ein/ausgeblendet als indikator ob tabs via javascript ein/ausgeblendet werden müssen
#tabindikator{
    width: 0 !important;
    height: 0 !important;
    display: none;
}
@media only screen and (max-width: 480px) {
	#playlist{
        display:none;
    }    
    #tabindikator{
        display: block;
    }
    //margin der verhindert dass elemente hinter den tabs verschwinden (top-app-bar-fixed-adjust ignoriert tabs)
    .tab-adjust{
        margin-top:56px;
    }
}
@media only screen and (min-width: 481px) {
	#playlist{
        display:block;
    }
    #sender{
        display:block;
    }    
    #tabindikator{
        display: none;
    }
}
#playlist{
    margin: 14px;
}
